.about-container{
    width: 100%;
    height:100vh;
    display: flex;    
    background-color: #FFF2D7;
   
  }

  /* container text */
  .container-atext{
    background-color: transparent;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
    margin-top: 150px;  
  }
  h1{
    margin-top: -90px;
  }
  /* p{
    margin-top: -70px;
    color: red;

  } */
  .aboutme-content{
width: 400px;
height: 100px;
padding: 10px;
margin-left: 100px;
font-weight: 500;

  }
  
.about-button{
  display: flex;
  gap: 20px;
  
}  
.about-button a{
  width: 100px;
  height: auto;
  padding: 5px;
  border-radius: 3px;
  border-style: none;
  color: #f5efef;
  background-color: rgb(16, 118, 91);
  text-align: center;
  text-decoration: none;
}

.resume-button:hover{
  box-shadow: 0px 0px 29px 0px black;
}

.uncover-button{
  width: 70px!important;
  height: auto !important;
  padding: 7px !important;
  border-radius: 3px !important;
  border-style: none !important;
  color: #f5efef !important;
  background-color: rgb(16, 118, 91)  !important;
  text-align: center;
  text-decoration: none;

}
.uncover-button:hover{
  box-shadow: 0px 0px 29px 0px black;
}

/* constainer pic */
  .container-apic{
    flex-basis: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
     padding: 50px;
     background-color: #FFF2D7;
     margin-top: 50px;
     
     
     

  }
  /* .for-splash{
    position: absolute;
    width: 300px;
    height: 370px;
    border-radius: 10px;
    /* border-top-left-radius: 180px;
    border-top-right-radius: 130px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 70px; */
    /* background-image: url(./splash.jpg);
    background-size: cover;
    background-position: center; */
    
  /* } */ 
  .my-image{
    width: 310px;
    height: 380px;
     border: 3px solid transparent;
     border-radius: 5px;


    margin-top: 30px;
  }

