.achievement-container{
    background-color:     rgb(195, 172, 162);
    width: 100%;
    height: 100vh;
display: flex;
flex-direction: column;
gap: 30px;}
.Achievement-heading{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    color: white;
    text-shadow:1px 1px 1px rgb(0, 0, 0);
    
}

.overall-content{
    display: flex;
    
}


/* image section */
.achievement-img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.achievement-img{
    width: 300px;
    height: 300px;
    rotate: 60px;
    text-align: center;
}
/* contents */
.achievement-contents{
    width: 50%;
        display: flex;
        gap: 30px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

.certifications{
    width: 150px;
    height: 165px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid wheat;
        color: rgb(0, 0, 0);
    padding: 3px;
    gap: 5px;
    text-align: center;
    text-shadow: 1px 1px 1px  rgb(255, 255, 255);
    /* background-image: url(./certification\ back.jpg); */
    background-color:    transparent;
    box-shadow: 0px 0px 10px 0px black;

}

.certifications a{
    background-color: wheat;
    width: 160px;
    height: auto;
    padding: 3px;
    border-radius: 3px;
    border: .5px solid rgb(156, 151, 141);
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-shadow: none;
    font-weight: 500;

}
.certifications a:hover{
    box-shadow: 0px 0px 10px 0px black;
}
.certifications hr{
    border: none;
    height: .5px;
    background-color: rgb(255, 255, 255); /* Setting the background color to red */
    margin: 20px 0; /* Adding some margin for spacing */
}

.content-box12{
    display: flex;
    gap: 50px;
    
}

.content-box34{
    display: flex;
    gap: 50px;
    
}

.content-heading{
    margin-bottom: -12px;
    font-size: 16px;
    font-weight: 500;
}