.connect-section{
    background-color: rgb(195, 172, 162);
    width: 100%;
    height: 100vh;
}

.connect-heading{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    
}

.connect-container{
display: flex;
justify-content: space-evenly;


}

/* message-box */
.message-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(11, 11, 11);
    padding: 20px;
    gap: 20px;
    width: 300px;     
    height: 400px;
    border-radius: 5px;
    box-shadow: 1px 0px 10px 0px black;
    margin-top: 30px;
   
}
.email{
    width: 260px;
    height:30px;
    padding: 5px;
    background-color: transparent;
     border: .05rem solid white;
    border-radius: 5px;
    color: white;
    font-weight: 100;

    
}
.name{
    width: 260px;
    height:30px;
    padding: 5px;
    background-color: transparent;
     border: .05rem solid white;
    border-radius: 5px;
    color: white;
    font-weight: 100;
}
.message{
    width: 260px;
    height: 100px;
    padding: 5px;
    background-color: transparent;
    border: .05rem solid white;
    border-radius: 5px;
    color: white;
    font-weight: 100;
    display: flex;
    margin-bottom: -40px;
    padding-left: 5px;
    
}

  
.contact-icon{
    margin-left: -210px;
    margin-bottom: -7px;
    color: white;
    font-size: 13px;
    font-weight: 100;
}

.msg-send{
    width: auto;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    border: .05rem solid white;
    margin-left: -190px;
    margin-top: 50px;
}


/* social media */
.social-media{
    display: flex;  
    flex-direction: column;
    width: 300px;     
    height: 400px;
    border-radius: 5px;
    background-color: transparent;
    margin-top: 50px;
    
    padding: 30px;
    gap: 40px;
}

.social-media-heading{
    color: rgb(3, 3, 3);
    font-size: 25px;    
    font-weight: 600;
    margin-left: 30px;
    margin-top: -20px;
}
.social-media-icons{
display: flex;
flex-direction: column;
gap:30px;
}
.social-medias{
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 90px;
    
}
.email-social-media{
    margin-left: 70px;
}
.fa-linkedin:hover{
    color:#0056b3 !important;
}

.fa-whatsapp:hover{
    color: #25D366 !important;
}
.fa-envelope:hover{
    color: #4285F4 ! important;
}
.fa-phone:hover{
    color: #008000  ! important;
}
.social-medias a i {
    box-shadow: 1px 0px 30px 0px rgba(0, 0, 0, 0.1); /* Shadow style */
    padding: 10px; /* Add padding to create space around icons */
    border-radius: 150%;
    background-color: transparent;
}

