.experience-page{
    background-color: #fdbbbb;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 60px 0px;
    
}
.experience-tittle{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    color: rgb(83, 146, 146);
    text-shadow: .5px 0px 1px black;
}

.experience-section{
    
    display: flex;
    align-items: center;
    border-radius: 3px;
    flex-direction: column;
    gap: 10px;
    
}

.experience-cards{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    background-color:rgb(83, 146, 146) ;
    border-radius: 3px;
    color: #f5efef;
}
/* for compan tittle */
.company-name{
font-size:20px;
}

.companies{
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 250px;
    gap: 20px;
}

 /* for works */
 .works{
    padding: 10px;
    width:  460px;

 }
.technologies ul{
    display: flex;
    list-style: none;
    gap: 10px;
    align-items:flex-start;
    margin-left: -43px;
    font-size: 10px;
    font-weight: 500;
}
.technologies ul li:hover{
    background-color: rgb(102, 102, 111);
    width: auto;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    color: white;
}
.technologies ul li{
    background-color: rgb(213, 213, 216);
    width: auto;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    color: black;

}

ul{

    list-style: none;
}