.footer-container{
    background-color: black;
    width: 100%;
    height: 220px;
    color: white;
    font-weight: 300;
    font-size: 15px;
    

}
.navigation{
    color: white;
}
.personal-details{
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}
.navigation{
    display: flex;
    flex-direction: column;
    color: white;
   gap: 5px;
   margin-left: 0px;
}
.navigation a{
    text-decoration: none;
    color: white;
}
.contact-info ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
     margin-right: 250px
}
.contact-info ul a{
    text-decoration: none;
    color: white;
}
.copyright{
    font-weight: 300;
    font-size: 13px;
    text-align: center;

}

.hr-footer{
    width: 1000px;
}
.social-footer-icons{
display: flex;
gap:20px;
justify-content: center;
padding: 20px;
}
.social-footer-icons a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: .5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
/* logo */
.footer-logo{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: white;
    border-radius: 50%;
    margin-left: 30px;
    
   
  }
  .logos{
   font-size: 50px;
   font-weight: 400;
   color: rgb(0, 0, 0);
   margin-bottom:7px;
  }