.nav-container{
    display: flex;
    /* background-color:#f5efef; */
    background-color:#000000 !important;

    width: 100%;
    height:70px;
    position: fixed;
  }
  
  .nav-logo{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    
  }
  .logo{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-left:50px;
    

  }
    
  .nav-ul{
    margin-top: 5px;
    margin-left:80px;
    padding: 20px;
    height: auto;
    display: flex;
    gap:20px;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  position: fixed;
}
  li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 1px 0px 7px #cbcbcb;
  }
  
  