.projects-container {
  background-color: rgb(255, 220, 223);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 50px; 
}
.projectpage-tittle {
  text-align: center;
  
  font-size: 30px;
  font-weight: 600;
text-shadow: 0px 0px .5px black;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  column-gap: -10px;
  padding: 100px;
  justify-content: space-evenly;
  
}
.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2px;
  box-shadow: 0px 0px 10px 0px rgb(27, 27, 27);
  width: 300px;
  height: 200px;
  overflow: hidden;
  display: flex;

}

.portfolio-box img {
  width: 100%;
  transition: 0.5s ease;
  opacity: 10;
  margin-top: -20px;
}
.portfolio-box:hover img {
  transform: scale(1.1);
}
.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgb(230, 171, 193); */
  background-image: url('project-layer.png');
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transform: translateY(100%);
  transition: 0.5s ease;
  gap: 20px;
  
}
.project-name{
  font-size: 20px;
  font-variant: small-caps;
  font-weight: 600;
color: white;
text-shadow: 0px 2px 10px black;
}

.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}

.demo-button{
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
 
  
}

.source-button{
  width: 30px;
  background-image:linear-gradient( rgb(228, 191, 228), rgb(134, 197, 204) );
  text-decoration: none;
  padding: 5px;
  border-radius: 3px;
  color: rgb(0, 0, 0);
  font-weight: 400;
  border: .05px solid black;
  font-variant: small-caps;
  color: white;
text-shadow: 0px 2px 10px black;

}

.live-button{
  width: 40px;
  background-image:linear-gradient( rgb(233, 188, 233), rgb(112, 194, 203) );
  text-decoration: none;
  padding: 5px;
  border-radius: 3px;
  color: rgb(0, 0, 0);
  font-weight: 400;
  border: .05px solid black;
  font-variant: small-caps;
  color: white;
text-shadow: 0px 2px 10px black;
margin-left: 10px;
}

.source-button:hover{
  
    box-shadow: 0px 0px 29px 0px rgb(249, 248, 248);
  
}
.live-button:hover{
  
  box-shadow: 0px 0px 29px 0px rgb(249, 248, 248);

}
.project-list{
  display: flex;
  list-style: none;
  gap: 15px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  color: white;
text-shadow: 0px 2px 10px black;
}