

.skill-container {
  width: 100%;
  height: 100vh;
  background-color: rgb(195, 172, 162);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.skill-heading{
    text-align: center;
    font-size:2rem;
    font-weight: 500;
    color: rgb(26, 26, 26);
}
.skill-container2 {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.fend-container {
  width: 33.33%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  /* box-shadow: 0px 0px 15px 1px rgb(86, 81, 81); */
  
}
.skill-box {
  display: flex;
  /* background-color:  #F1F1F2; */
  flex-direction: column;
  gap: 50px;
  height: auto;
}

.skill-box1 {
  display: flex;
  justify-content: center;
  /* background-color: rgb(255, 255, 255); */
  gap: 70px;
 
 
}


.skill-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
    padding: 5px;
    width: 100px;
    height: 80px;
    background-color:  transparent;
    border-radius: 5px;
    box-shadow: 0px 0px 10px  black;
    transition: transform 1s;
    animation: flip 2s infinite alternate;  animation: flip 2s infinite; /* Apply flip animation */
    animation-delay: 5s; /* Delay the animation start by 5 minutes */
}



.skill-card:hover{
  transform: rotateY(360deg); 
}

/* 
.fend-skills{
    background-color: aqua;
    width: 100px;
    height: 50px;
   justify-content: center;
   align-items: center;
   gap: 5px;

}

.fend1-container{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.fend2-container{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    gap: 20px;
} */

.pic-container {
  width: 33.33%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.for-skill-images{
    width: 380px;
    height: 350px;
    border-radius: 5px;
}
.bed-container {
    width: 33.33%;
    height: 400px;
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    /* box-shadow: 0px 0px 15px 1px rgb(75, 73, 73); */

}
